@import 'setup';

$blue:#5484BC;
$yellow:#F7DE28;

//global

html {
	font-size: 62.5%;
}

body {
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
	font-size:1.6rem;
}

//fonts
h1, h2, h3, h4, h5, h6 {
	padding:0;
	margin:0;
}

h1 {
	font-weight: 800;
	font-size:4.2rem;
}

h2 {
	font-weight: 800;
	font-size:3.5rem;
}

h3 {
	font-weight: 800;
	font-size:3.2rem;
}

h4 {
	font-weight: 800;
	font-size:2.8rem;
}

h5 {
	font-weight: 800;
	font-size:2.4rem;
}

p {
	font-size: 1.5rem;
	margin: 14px 0px;
}
//body

.container {
	max-width: 1440px;
	margin:0 auto;
}

//Header

header {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	padding:20px 10px;
	background:black;
		nav {
			display:flex;
			align-items:center;
		}
		ul {
		display:flex;
			li {
				list-style: none;
				padding:0px 20px;
			}
		}
		h1 {
			color:white;
			padding-left:20px;
			a {
				font-size:4.2rem;
			}
		}
		a {
			color:white;
		}
		img {
			width:18%;
			margin-left:10px;
		}
		.logo {
			display:inline-block;
		}
}
.signup.invisible, .login.invisible, .signout.invisible, .invisible {
	display:none;
}

.active {
	cursor: default;
}

.fa.fa-twitter-square {
	font-size:2.5rem;
}
//login

.user-form {
	position:fixed;
	padding:40px 0px;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	background:white;
	width:300px;
	text-align: center;
	border: 1px solid lightgrey;
	box-shadow: 3px 3px 20px lightgrey;
	input {
		font-size: 1.5rem;
		padding:5px 10px;
		margin:10px 40px;
		width:200px;
		&:focus {
			border: 1px solid $blue;
		}
	}
	button {
		border:none;
		background-color: $blue;
		font-size:1.5rem;
		font-weight: 800;
		width:200px;
		margin: 10px 40px;
		padding: 5px 10px;
		&:hover{
			background-color:white;
			border:1px solid black;
		}

	}
}

.fa.fa-user-circle-o, .fa.fa-user-plus {
	color: $blue;
	font-size:4rem;
}

.fa.fa-times.closeForm {
	position:absolute;
	right:10px;
	top:10px;
	font-size:1.2rem;
}

.error {
	width:80%;
	margin:0 auto;
}
.errorMessage {
	color:red;
	font-size:1.2rem;
	text-align: center;
}

//Jobs Search Section
.searchSection {
	background:url('../hero.jpeg');
	background-size: cover;
	background-position: center center;
	height:300px;
	display:flex;
	justify-content:center;
	align-items:center;
	transition: height 0.5s linear;
}

.searchSection.full {
	height:calc(100vh - 90px - 70px);
	
}

form.searchJobs {
	input {
		font-size:1.5rem;
		padding:5px;
		margin:0px 10px;
		vertical-align: middle;
		&:focus {
			border:1px solid $blue;
		}

	}
	h4 {
		display:inline-block;
		vertical-align: middle;
	}
	button {
		vertical-align: middle;
		border:none;
		padding:3px 10px;
		background-color: $yellow;
		&:hover {
			cursor: pointer;
			background-color: white;
		}
	}
}

//Jobs and Favourites Display
.redstar {
	color:red;
}

.fa-star:hover {
	cursor:pointer;
	color:red;
}

.fa-times:hover {
	cursor:pointer;
	color:red;
}

.fa-star.invisible {
	display:none;
}

div.inline {
	display:inline-block;
	button {
		margin-left:20px;
	}
}
.jobItem {
	padding:40px 40px;
	border:1px solid $blue;
	width:60%;
	margin:20px auto;
	h4 {
		display:inline-block;
		overflow-wrap: break-word;
		
	}
	h5 {
		vertical-align: middle;
	}
	i {
		font-size:2.2rem;
		padding:0px 5px;

	}
	button {
		border:none;
		background-color: $blue;
		vertical-align: middle;
		padding:5px 10px;
		font-weight: 800;
	}
	.apply {
		background-color: $yellow;
		width:100px;
		padding:5px 10px;
		text-align: center;
		color:black;
		font-weight: 800;
		display: inline-block;
		margin-top: 10px;
	}
	.company, .fa.fa-building-o {
		color:$blue;
		display:inline-block;
		font-size:1.7rem;
	}
	.city {
		display:inline-block;
	}
	
}

.favJobs {
	min-height:calc(100vh - 90px - 70px);
}

//Company Info
.reviewItem {
	padding:20px 40px;
	min-height:calc(100vh - 90px - 70px);
	width:60%;
	margin:0 auto;
 	.title {
 		text-align: center;
 		h2 {
 			display:inline-block;
 			vertical-align: middle;
 		}
 		img {
 			width:100px;
 			vertical-align: middle;
 			padding:0px 10px;
 		}
 		a {
 			color:$blue;
 			font-weight: bold;
 		}
 	}
 	button {
 		border:none;
 		background-color: $yellow;
 		width:200px;
 		padding:5px 10px;
 		text-align: center;
 		color:black;
 		font-weight: 800;
 		a {
 			color:black;
 		}

 	}
 	div {
 		padding:20px 0px;
 	}
	
}

.blue {
	color:$blue;
}

textarea {
	resize:none;
	width:80%;
	font-size:1.5rem;
	padding-bottom:10px;
}

.favJobs form button {
    vertical-align: bottom;
    margin: 0px 10px;
}

//footer
footer {
	min-height:70px;
	padding:10px 0px;
	color:lightgrey;
	background-color:black;
	text-align: center;
	p {
		display:inline-block;
	}
	a {
		color:lightgrey;
	}
	span {
		padding:0px 10px;
	}
}

//media queries

//Portrait tablet and small desktops */
@media (max-width: 940px) {
}

// Landscape phone to portrait tablet */
@media (max-width: 768px) {
header {
	ul {
		padding:0;
	}
}
.searchSection form {
	display:flex;
	flex-direction:column;
	align-items:center;
	button {
		margin-top:10px;
	}
}

.jobItem {
	padding:20px 40px;
	border:1px solid $blue;
	width:80%;
	}
.reviewItem {
	padding:20px 10px;
    width: 80%;
    margin: 0 auto;
}
}

@media (max-width: 703px) {
	.searchSection.full {
		height:calc(100vh - 135px - 70px)
	}

}

// Landscape phones and down */
@media (max-width: 480px) {
footer {
	display:flex;
	flex-direction:column;
	align-items:center;
}
.searchSection.full {
	height:calc(640px - 135px - 113px)
}
.jobItem {
	padding:20px 40px;
	border:none;
	border-bottom:1px solid $blue;
	width:100%;

	}
.reviewItem {
	padding:20px 10px;
    width: 80%;
    margin: 0 auto;
}
}

@media (max-width: 370px) {
header {
	flex-direction:column;
	text-align: center;
	ul {
		flex-direction:column;
		align-items:center;
		margin: 0 auto;
	}
}
.searchSection.full {
	height:calc(640px - 169px - 113px)
}
.favJobs form button {
    margin: 0px;
}
}

@media (max-width: 356px) {
	div.inline button {
    margin-left:0px;
	}

}